backend/n8n/workflow_3_missed_call_recovery.json

{
  "name": "Workflow 3 — Missed Call Recovery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "missed-call-event",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node_webhook_trigger",
      "name": "Missed Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['x-webhook-key'] }}",
              "operation": "equal",
              "value2": "={{ $env.WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "node_auth_check",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "node_unauthorized",
      "name": "Return 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.body.data.phone }}", "operation": "isNotEmpty" },
            { "value1": "={{ $json.body.data.clinicId }}", "operation": "isNotEmpty" }
          ]
        }
      },
      "id": "node_validate",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"missing phone or clinicId\" }",
        "options": { "responseCode": 400 }
      },
      "id": "node_bad_request",
      "name": "Return 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": { "responseCode": 200 }
      },
      "id": "node_respond_immediately",
      "name": "Respond 200 Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "executionId",
              "value": "={{ $json.body.data.callSid || $json.body.data.missedCallId || $execution.id }}"
            },
            { "name": "entityId", "value": "={{ $json.body.data.callSid || $json.body.data.missedCallId || '' }}" },
            { "name": "entityType", "value": "missed_call" },
            { "name": "phone", "value": "={{ $json.body.data.phone }}" },
            { "name": "clinicId", "value": "={{ $json.body.data.clinicId }}" },
            { "name": "callSid", "value": "={{ $json.body.data.callSid || '' }}" }
          ]
        }
      },
      "id": "node_set_execution_id",
      "name": "Set Execution Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_API_URL }}/automation/missed-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "clinicId", "value": "={{ $json.clinicId }}" },
            { "name": "callSid", "value": "={{ $json.callSid }}" },
            { "name": "executionId", "value": "={{ $json.executionId }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "node_record_missed_call",
      "name": "Record Missed Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "backend_api_key",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json.data?.duplicate }}", "value2": true }
          ]
        }
      },
      "id": "node_is_duplicate",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data?.smsStatus }}",
              "operation": "equal",
              "value2": "scheduled"
            }
          ]
        }
      },
      "id": "node_is_scheduled",
      "name": "Is Scheduled (OOH)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "executionId", "value": "={{ $node[\"Set Execution Context\"].json.executionId }}" },
            { "name": "entityId", "value": "={{ $node[\"Set Execution Context\"].json.entityId }}" },
            { "name": "entityType", "value": "missed_call" },
            { "name": "missedCallId", "value": "={{ $json.data.missedCallId }}" },
            { "name": "phone", "value": "={{ $node[\"Set Execution Context\"].json.phone }}" },
            { "name": "clinicId", "value": "={{ $node[\"Set Execution Context\"].json.clinicId }}" },
            { "name": "clinicName", "value": "={{ $json.data.clinic?.name || 'Ιατρείο' }}" },
            { "name": "clinicServices", "value": "={{ $json.data.clinic?.services || [] }}" },
            { "name": "clinicPolicies", "value": "={{ $json.data.clinic?.policies?.cancellation || '' }}" },
            { "name": "workingHours", "value": "={{ $json.data.clinic?.workingHours || {} }}" }
          ]
        }
      },
      "id": "node_extract_context",
      "name": "Extract Clinic Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=You are a friendly medical clinic assistant. Write a short SMS in Greek (max 160 chars) to a patient whose call was missed. Clinic: {{ $json.clinicName }}. Services: {{ JSON.stringify($json.clinicServices) }}. Be warm, professional, encourage booking. No emojis."
            },
            {
              "role": "user",
              "content": "Write the recovery SMS now."
            }
          ]
        },
        "options": { "timeout": 5000 }
      },
      "id": "node_ai_message",
      "name": "Generate AI Recovery SMS",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [2220, 300],
      "continueOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "openai_creds",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.message?.content }}", "operation": "isNotEmpty" }
          ]
        }
      },
      "id": "node_ai_ok",
      "name": "AI Message OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "smsBody",
              "value": "={{ $json.message.content.length > 160 ? $json.message.content.substring(0, 160) : $json.message.content }}"
            }
          ]
        }
      },
      "id": "node_use_ai",
      "name": "Use AI Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2660, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "smsBody",
              "value": "=Γεια σας, χάσαμε την κλήση σας. Θέλετε να κλείσουμε ραντεβού; Απαντήστε ή καλέστε μας."
            }
          ]
        }
      },
      "id": "node_fallback",
      "name": "Use Fallback Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $node[\"Extract Clinic Context\"].json.phone }}",
        "message": "={{ $json.smsBody }}",
        "options": {
          "statusCallback": "={{ $env.BACKEND_API_URL + '/webhook/provider/twilio/status?clinicId=' + encodeURIComponent($node[\"Extract Clinic Context\"].json.clinicId) + '&missedCallId=' + encodeURIComponent($node[\"Extract Clinic Context\"].json.missedCallId) }}"
        }
      },
      "id": "node_send_sms",
      "name": "Send Recovery SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [2880, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "continueOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "twilio_creds",
          "name": "Twilio Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.sid }}", "operation": "isNotEmpty" }
          ]
        }
      },
      "id": "node_sms_ok",
      "name": "SMS Sent OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3100, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "log",
              "value": "=SMS sent to {{ $node[\"Extract Clinic Context\"].json.phone }} | executionId: {{ $node[\"Extract Clinic Context\"].json.executionId }} | entityType: missed_call | entityId: {{ $node[\"Extract Clinic Context\"].json.entityId }} | twilioSid: {{ $json.sid || '' }}"
            },
            { "name": "smsStatus", "value": "sent" },
            { "name": "twilioSid", "value": "={{ $json.sid || '' }}" }
          ]
        }
      },
      "id": "node_log_success",
      "name": "Log SMS Sent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [3320, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_API_URL }}/automation/send-notification",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "sms_failure" },
            { "name": "entityType", "value": "missed_call" },
            {
              "name": "entityId",
              "value": "={{ $node[\"Extract Clinic Context\"].json.entityId }}"
            },
            {
              "name": "executionId",
              "value": "={{ $node[\"Extract Clinic Context\"].json.executionId }}"
            },
            {
              "name": "error",
              "value": "={{ $json.errorMessage || $json.error?.message || 'Unknown SMS failure' }}"
            }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "node_log_sms_failure",
      "name": "Log SMS Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3320, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "backend_api_key",
          "name": "Backend API Key"
        }
      }
    }
  ],
  "connections": {
    "Missed Call Webhook": {
      "main": [[{ "node": "Auth Check", "type": "main", "index": 0 }]]
    },
    "Auth Check": {
      "main": [
        [{ "node": "Validate Payload", "type": "main", "index": 0 }],
        [{ "node": "Return 401", "type": "main", "index": 0 }]
      ]
    },
    "Validate Payload": {
      "main": [
        [{ "node": "Respond 200 Immediately", "type": "main", "index": 0 }],
        [{ "node": "Return 400", "type": "main", "index": 0 }]
      ]
    },
    "Respond 200 Immediately": {
      "main": [[{ "node": "Set Execution Context", "type": "main", "index": 0 }]]
    },
    "Set Execution Context": {
      "main": [[{ "node": "Record Missed Call", "type": "main", "index": 0 }]]
    },
    "Record Missed Call": {
      "main": [[{ "node": "Is Duplicate?", "type": "main", "index": 0 }]]
    },
    "Is Duplicate?": {
      "main": [
        [],
        [{ "node": "Is Scheduled (OOH)?", "type": "main", "index": 0 }]
      ]
    },
    "Is Scheduled (OOH)?": {
      "main": [
        [],
        [{ "node": "Extract Clinic Context", "type": "main", "index": 0 }]
      ]
    },
    "Extract Clinic Context": {
      "main": [[{ "node": "Generate AI Recovery SMS", "type": "main", "index": 0 }]]
    },
    "Generate AI Recovery SMS": {
      "main": [[{ "node": "AI Message OK?", "type": "main", "index": 0 }]]
    },
    "AI Message OK?": {
      "main": [
        [{ "node": "Use AI Message", "type": "main", "index": 0 }],
        [{ "node": "Use Fallback Message", "type": "main", "index": 0 }]
      ]
    },
    "Use AI Message": {
      "main": [[{ "node": "Send Recovery SMS", "type": "main", "index": 0 }]]
    },
    "Use Fallback Message": {
      "main": [[{ "node": "Send Recovery SMS", "type": "main", "index": 0 }]]
    },
    "Send Recovery SMS": {
      "main": [[{ "node": "SMS Sent OK?", "type": "main", "index": 0 }]]
    },
    "SMS Sent OK?": {
      "main": [
        [{ "node": "Log SMS Sent", "type": "main", "index": 0 }],
        [{ "node": "Log SMS Failure", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
