backend/n8n/workflow_1_appointment_confirmation.json
{
  "name": "Workflow 1 — Appointment Confirmation SMS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node_webhook_appt",
      "name": "Receive Appointment Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['x-webhook-key'] }}",
              "operation": "equal",
              "value2": "={{ $env.WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "node_auth_check",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Unauthorized\" }",
        "options": {
          "responseCode": 401
        }
      },
      "id": "node_unauthorized",
      "name": "Return 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.data.phone }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.data.patientName }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.data.date }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "node_validate_appt",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"missing required fields\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "node_error_appt",
      "name": "Return 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node_respond_immediately",
      "name": "Respond 200 Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "executionId",
              "value": "={{ $json.body.data.appointmentId || $execution.id }}"
            },
            {
              "name": "entityId",
              "value": "={{ $json.body.data.appointmentId || '' }}"
            },
            {
              "name": "entityType",
              "value": "appointment"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.data.phone }}"
            },
            {
              "name": "clinicName",
              "value": "={{ $json.body.clinic?.name || 'Ιατρείο' }}"
            },
            {
              "name": "smsBody",
              "value": "=Γεια σας {{ $json.body.data.patientName }}, το ραντεβού σας στο {{ $json.body.clinic?.name || 'ιατρείο' }} επιβεβαιώθηκε για {{ $json.body.data.date }} στις {{ $json.body.data.time }}."
            }
          ]
        }
      },
      "id": "node_format_msg",
      "name": "Format Confirmation Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.smsBody.length }}",
              "operation": "larger",
              "value2": 70
            }
          ]
        }
      },
      "id": "node_length_guard",
      "name": "Message > 70 chars?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1340,
        380
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "smsBody",
              "value": "={{ $json.smsBody.length > 70 ? ($json.smsBody.substring(0, 70).lastIndexOf(' ') > -1 ? $json.smsBody.substring(0, $json.smsBody.substring(0, 70).lastIndexOf(' ')) : $json.smsBody.substring(0, 70)) : $json.smsBody }}"
            },
            {
              "name": "isTruncated",
              "value": "={{ $json.smsBody.length > 70 }}"
            }
          ]
        }
      },
      "id": "node_truncate",
      "name": "Smart Truncate to 70",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "smsBody",
              "value": "={{ $json.smsBody + '...' }}"
            }
          ]
        }
      },
      "id": "node_append_ellipsis",
      "name": "Add Ellipsis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1560,
        440
      ]
    },
    {
      "parameters": {
        "url": "https://rest.nexmo.com/sms/json",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $env.VONAGE_API_KEY }}"
            },
            {
              "name": "api_secret",
              "value": "={{ $env.VONAGE_API_SECRET }}"
            },
            {
              "name": "from",
              "value": "={{ $env.VONAGE_FROM_NAME || 'ClinicFlow' }}"
            },
            {
              "name": "to",
              "value": "={{ $node[\"Format Confirmation Message\"].json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.smsBody }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
"id": "node_twilio_appt",
      "name": "Send Confirmation SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1920,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messages[0]['status'] }}",
              "operation": "equal",
              "value2": "0"
            }
          ]
        }
      },
      "id": "node_check_appt",
      "name": "SMS Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2140,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "log",
              "value": "=SMS sent to {{ $node[\"Format Confirmation Message\"].json.phone }} | messageId: {{ $json.messages[0]['message-id'] }}"
            },
            {
              "name": "smsStatus",
              "value": "sent"
            },
            {
              "name": "messageId",
              "value": "={{ $json.messages[0]['message-id'] }}"
            }
          ]
        }
      },
      "id": "node_log_success",
      "name": "Log SMS Sent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2360,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_API_URL }}/automation/send-notification",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "sms_failure"
            },
            {
              "name": "executionId",
              "value": "={{ $node[\"Format Confirmation Message\"].json.executionId }}"
            },
            {
              "name": "error",
              "value": "={{ $json.errorMessage || $json.error?.message || 'Unknown SMS failure' }}"
            },
            {
              "name": "entityType",
              "value": "appointment"
            },
            {
              "name": "entityId",
              "value": "={{ $node[\"Format Confirmation Message\"].json.entityId }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_log_failure",
      "name": "Log SMS Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2360,
        520
      ]
    }
  ],
  "connections": {
    "Receive Appointment Event": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Respond 200 Immediately",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 Immediately": {
      "main": [
        [
          {
            "node": "Format Confirmation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Confirmation Message": {
      "main": [
        [
          {
            "node": "Message > 70 chars?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message > 70 chars?": {
      "main": [
        [
          {
            "node": "Smart Truncate to 70",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Confirmation SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Truncate to 70": {
      "main": [
        [
          {
            "node": "Add Ellipsis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Ellipsis": {
      "main": [
        [
          {
            "node": "Send Confirmation SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation SMS": {
      "main": [
        [
          {
            "node": "SMS Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Sent?": {
      "main": [
        [
          {
            "node": "Log SMS Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log SMS Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}