backend/n8n/workflow_1_appointment_confirmation.json
{
  "name": "Workflow 1 — Appointment Confirmation SMS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node_webhook_appt",
      "name": "Receive Appointment Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['x-webhook-key'] || $json.body?.webhookSecret || $json.webhookSecret }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "node_auth_check",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Unauthorized\" }",
        "options": {"responseCode": 401}
      },
      "id": "node_unauthorized",
      "name": "Return 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 560]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{ $json.body.data.phone }}", "operation": "isNotEmpty"},
            {"value1": "={{ $json.body.data.patientName }}", "operation": "isNotEmpty"},
            {"value1": "={{ $json.body.data.date }}", "operation": "isNotEmpty"}
          ]
        }
      },
      "id": "node_validate_appt",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"missing required fields\" }",
        "options": {"responseCode": 400}
      },
      "id": "node_error_appt",
      "name": "Return 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 560]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {"responseCode": 200}
      },
      "id": "node_respond_immediately",
      "name": "Respond 200 Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {"name": "executionId", "value": "={{ $json.data?.appointmentId || $json.body?.data?.appointmentId || $execution.id }}"},
            {"name": "entityId", "value": "={{ $json.data?.appointmentId || $json.body?.data?.appointmentId || '' }}"},
            {"name": "entityType", "value": "appointment"},
            {"name": "phone", "value": "={{ $json.data?.phone || $json.body?.data?.phone }}"},
            {"name": "clinicName", "value": "={{ $json.clinic?.name || $json.body?.clinic?.name || 'Ιατρείο' }}"},
            {"name": "doctorName", "value": "={{ ($json.data?.doctorName || $json.body?.data?.doctorName) ? ' με τον/την ' + ($json.data?.doctorName || $json.body?.data?.doctorName) : '' }}"},
            {"name": "smsBody", "value": "=Ραντεβού επιβεβαιώθηκε: {{ $json.data?.patientName || $json.body?.data?.patientName }}, {{ $json.data?.date || $json.body?.data?.date }} {{ $json.data?.time || $json.body?.data?.time }}{{ ($json.data?.doctorName || $json.body?.data?.doctorName) ? ' με τον/την ' + ($json.data?.doctorName || $json.body?.data?.doctorName) : '' }} — {{ $json.clinic?.name || $json.body?.clinic?.name || 'Ιατρείο' }}"}
          ]
        }
      },
      "id": "node_format_msg",
      "name": "Format Confirmation Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "url": "https://rest.nexmo.com/sms/json",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $json.body.data.vonageApiKey }}"
            },
            {
              "name": "api_secret",
              "value": "={{ $json.body.data.vonageApiSecret }}"
            },
            {
              "name": "from",
              "value": "={{ $json.body.data.vonageFromName }}"
            },
            {"name": "to", "value": "={{ $json.phone }}"},
            {"name": "text", "value": "={{ $json.smsBody }}"},
            {"name": "type", "value": "unicode"}
          ]
        },
        "options": {"timeout": 10000}
      },
      "id": "node_twilio_appt",
      "name": "Send Confirmation SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 400],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{ $json.messages[0]['status'] }}", "operation": "equal", "value2": "0"}
          ]
        }
      },
      "id": "node_check_appt",
      "name": "SMS Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {"name": "log", "value": "=SMS sent to {{ $node[\"Format Confirmation Message\"].json[\"phone\"] }} | messageId: {{ $json.messages[0]['message-id'] }}"},
            {"name": "smsStatus", "value": "sent"},
            {"name": "messageId", "value": "={{ $json.messages[0]['message-id'] }}"}
          ]
        }
      },
      "id": "node_log_success",
      "name": "Log SMS Sent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.backendUrl || $json.body?.backendUrl }}/automation/send-notification",
        "method": "POST",
        "sendBody": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.automationApiKey || $json.body?.automationApiKey }}"
            },
            {
              "name": "x-webhook-key",
              "value": "={{ $json.automationApiKey || $json.body?.automationApiKey }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {"name": "type", "value": "sms_failure"},
            {"name": "executionId", "value": "={{ $node[\"Format Confirmation Message\"].json[\"executionId\"] }}"},
            {"name": "error", "value": "={{ $json.messages?.[0]?.['error-text'] || $json.errorMessage || $json.error?.message || 'Unknown SMS failure' }}"},
            {"name": "errorCode", "value": "={{ $json.messages?.[0]?.status || 'error' }}"},
            {"name": "fullResponse", "value": "={{ JSON.stringify($json) }}"},
            {"name": "entityType", "value": "appointment"},
            {"name": "entityId", "value": "={{ $node[\"Format Confirmation Message\"].json[\"entityId\"] }}"}
          ]
        },
        "options": {"timeout": 10000}
      },
      "id": "node_log_failure",
      "name": "Log SMS Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1780, 500]
    }
  ],
  "connections": {
    "Receive Appointment Event": {"main": [[{"node": "Auth Check", "type": "main", "index": 0}]]},
    "Auth Check": {"main": [[{"node": "Validate Payload", "type": "main", "index": 0}], [{"node": "Return 401", "type": "main", "index": 0}]]},
    "Validate Payload": {"main": [[{"node": "Respond 200 Immediately", "type": "main", "index": 0}], [{"node": "Return 400", "type": "main", "index": 0}]]},
    "Respond 200 Immediately": {"main": [[{"node": "Format Confirmation Message", "type": "main", "index": 0}]]},
    "Format Confirmation Message": {"main": [[{"node": "Send Confirmation SMS", "type": "main", "index": 0}]]},
    "Send Confirmation SMS": {"main": [[{"node": "SMS Sent?", "type": "main", "index": 0}]]},
    "SMS Sent?": {"main": [[{"node": "Log SMS Sent", "type": "main", "index": 0}], [{"node": "Log SMS Failure", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "workflow_0_global_error_handler"
  }
}
