backend/n8n/workflow_5_inbound_sms_reply.json
{
  "name": "Workflow 5 — Inbound SMS Reply",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound-sms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node_webhook_inbound",
      "name": "Receive Inbound SMS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": { "responseCode": 200 }
      },
      "id": "node_respond_ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "from", "value": "={{ $json.body.From || $json.body.from }}" },
            { "name": "to", "value": "={{ $json.body.To || $json.body.to }}" },
            { "name": "body", "value": "={{ $json.body.Body || $json.body.body }}" },
            { "name": "messageSid", "value": "={{ $json.body.MessageSid || $json.body.SmsSid || '' }}" },
            { "name": "clinicId", "value": "={{ $json.query.clinicId || $json.body.clinicId || '' }}" },
            { "name": "missedCallId", "value": "={{ $json.query.missedCallId || $json.body.missedCallId || '' }}" }
          ]
        }
      },
      "id": "node_set_vars",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.from }}", "operation": "isNotEmpty" },
            { "value1": "={{ $json.clinicId }}", "operation": "isNotEmpty" }
          ]
        }
      },
      "id": "node_validate",
      "name": "Has Required Fields?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_API_URL }}/api/webhooks/inbound-sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "from", "value": "={{ $node[\"Set Variables\"].json.from }}" },
            { "name": "to", "value": "={{ $node[\"Set Variables\"].json.to }}" },
            { "name": "body", "value": "={{ $node[\"Set Variables\"].json.body }}" },
            { "name": "clinicId", "value": "={{ $node[\"Set Variables\"].json.clinicId }}" },
            { "name": "missedCallId", "value": "={{ $node[\"Set Variables\"].json.missedCallId }}" },
            { "name": "providerMessageSid", "value": "={{ $node[\"Set Variables\"].json.messageSid }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "node_forward_to_backend",
      "name": "Forward to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 200],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "backend_api_key",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "result", "value": "skipped — missing from or clinicId" }
          ]
        }
      },
      "id": "node_skip",
      "name": "Skip",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 420]
    }
  ],
  "connections": {
    "Receive Inbound SMS": {
      "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]]
    },
    "Respond 200": {
      "main": [[{ "node": "Set Variables", "type": "main", "index": 0 }]]
    },
    "Set Variables": {
      "main": [[{ "node": "Has Required Fields?", "type": "main", "index": 0 }]]
    },
    "Has Required Fields?": {
      "main": [
        [{ "node": "Forward to Backend", "type": "main", "index": 0 }],
        [{ "node": "Skip", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
