backend/n8n/workflow_3_missed_call_recovery.json
{
  "name": "Workflow 3 — Missed Call Recovery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "missed-call",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node_webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "missed-call"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "twilio-sid",
              "name": "TWILIO_ACCOUNT_SID",
              "value": "YOUR_TWILIO_ACCOUNT_SID",
              "type": "string"
            },
            {
              "id": "twilio-token",
              "name": "TWILIO_AUTH_TOKEN",
              "value": "YOUR_TWILIO_AUTH_TOKEN",
              "type": "string"
            },
            {
              "id": "twilio-sender",
              "name": "TWILIO_SENDER",
              "value": "YOUR_TWILIO_SENDER",
              "type": "string"
            },
            {
              "id": "backend-url",
              "name": "BACKEND_API_URL",
              "value": "YOUR_BACKEND_API_URL",
              "type": "string"
            },
            {
              "id": "api-key",
              "name": "AUTOMATION_API_KEY",
              "value": "YOUR_AUTOMATION_API_KEY",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node_set_creds",
      "name": "Set Credentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Credentials').first().json.BACKEND_API_URL }}/automation/send-sms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Set Credentials').first().json.AUTOMATION_API_KEY }}"
            },
            {
              "name": "x-clinicflow-secret",
              "value": "={{ $('Webhook Trigger').first().json.clinic.webhookSecret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.callerPhone }}\",\n  \"clinicId\": \"{{ $json.clinicId }}\",\n  \"body\": \"Χάσαμε την κλήση σας από το {{ $('Webhook Trigger').first().json.clinic.name }}. Μπορείτε να κλείσετε το ραντεβού σας online εδώ: {{ $('Webhook Trigger').first().json.data.bookingLink || 'https://clinicflow.app/book?clinicId=' + $('Webhook Trigger').first().json.clinic.id + '&missedCallId=' + $('Webhook Trigger').first().json.data.missedCallId }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_send_sms",
      "name": "Send Recovery SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Credentials').first().json.BACKEND_API_URL }}/automation/log-missed-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Set Credentials').first().json.AUTOMATION_API_KEY }}"
            },
            {
              "name": "x-clinicflow-secret",
              "value": "={{ $('Webhook Trigger').first().json.clinic.webhookSecret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callerPhone\": \"{{ $json.callerPhone }}\",\n  \"clinicId\": \"{{ $json.clinicId }}\",\n  \"sid\": \"{{ $json.sid }}\",\n  \"status\": \"{{ $json.status }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_log_call",
      "name": "Log Missed Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Credentials').first().json.BACKEND_API_URL }}/automation/log-error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Set Credentials').first().json.AUTOMATION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"missed_call_sms_failed\",\n  \"callerPhone\": \"{{ $('Send Recovery SMS').first().json.callerPhone }}\",\n  \"error\": \"{{ $('Send Recovery SMS').last().json.error || $json.message }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_log_error",
      "name": "Log SMS Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Send Recovery SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Recovery SMS": {
      "main": [
        [
          {
            "node": "Log Missed Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log SMS Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
