backend/n8n/workflow_2_direct_sms.json
{
  "name": "Workflow 2 — Direct SMS Delivery (Twilio)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-sms",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node_webhook_sms",
      "name": "Receive SMS Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "exec-id",
              "name": "executionId",
              "value": "={{ $json.notificationId || $json.body?.notificationId || $execution.id }}",
              "type": "string"
            },
            {
              "id": "entity-id",
              "name": "entityId",
              "value": "={{ $json.notificationId || $json.body?.notificationId || '' }}",
              "type": "string"
            },
            {
              "id": "entity-type",
              "name": "entityType",
              "value": "notification",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $json.phone || $json.body?.phone }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.message || $json.body?.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node_set_execution_id",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ $buffer($env.TWILIO_ACCOUNT_SID + ':' + $env.TWILIO_AUTH_TOKEN).toString('base64') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "form",
        "bodyParameters": {
          "formBodyParameters": {
            "parameters": [
              {
                "name": "From",
                "value": "={{ $env.TWILIO_ALPHA_SENDER_ID || $env.TWILIO_PHONE_NUMBER }}"
              },
              {
                "name": "To",
                "value": "={{ $json.phone }}"
              },
              {
                "name": "Body",
                "value": "={{ $json.message }}"
              }
            ]
          }
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_twilio_sms",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-sid",
              "leftValue": "={{ $json.sid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node_check_sent",
      "name": "SMS Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log",
              "name": "log",
              "value": "=SMS sent to {{ $('Set Variables').first().json.phone }} | messageId: {{ $json.sid }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "smsStatus",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "msg-id",
              "name": "messageId",
              "value": "={{ $json.sid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node_log_success",
      "name": "Log SMS Sent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err",
              "name": "error",
              "value": "={{ $json.message || $json.errorMessage || 'Unknown SMS failure' }}",
              "type": "string"
            },
            {
              "id": "code",
              "name": "errorCode",
              "value": "={{ $json.status || $json.code || 'error' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node_log_failure",
      "name": "Log SMS Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Receive SMS Request": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Send SMS via Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS via Twilio": {
      "main": [
        [
          {
            "node": "SMS Sent?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log SMS Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Sent?": {
      "main": [
        [
          {
            "node": "Log SMS Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log SMS Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "workflow_0_global_error_handler"
  }
}
