backend/n8n/workflow_2_direct_sms.json
{
  "name": "Workflow 2 — Direct SMS Delivery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-sms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node_webhook_sms",
      "name": "Receive SMS Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['x-webhook-key'] }}",
              "operation": "equal",
              "value2": "={{ $env.WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "node_auth_check",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "node_unauthorized",
      "name": "Return 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.body.phone }}", "operation": "isNotEmpty" },
            { "value1": "={{ $json.body.message }}", "operation": "isNotEmpty" }
          ],
          "number": [
            {
              "value1": "={{ $json.body.message ? $json.body.message.length : 0 }}",
              "operation": "smallerEqual",
              "value2": 500
            }
          ]
        }
      },
      "id": "node_validate_sms",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"invalid payload or message too long\" }",
        "options": { "responseCode": 400 }
      },
      "id": "node_error_validation",
      "name": "Return 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": { "responseCode": 200 }
      },
      "id": "node_respond_immediately",
      "name": "Respond 200 Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "executionId",
              "value": "={{ $json.body.notificationId || $execution.id }}"
            },
            { "name": "entityId", "value": "={{ $json.body.notificationId || '' }}" },
            { "name": "entityType", "value": "notification" },
            { "name": "phone", "value": "={{ $json.body.phone }}" },
            { "name": "message", "value": "={{ $json.body.message }}" }
          ]
        }
      },
      "id": "node_set_execution_id",
      "name": "Set Execution ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $json.phone }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "node_twilio_sms",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1340, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "continueOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "twilio_creds",
          "name": "Twilio Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.sid }}", "operation": "isNotEmpty" }
          ]
        }
      },
      "id": "node_check_sent",
      "name": "SMS Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "log",
              "value": "=SMS sent to {{ $node[\"Set Execution ID\"].json.phone }} | executionId: {{ $node[\"Set Execution ID\"].json.executionId }}"
            },
            { "name": "smsStatus", "value": "sent" }
          ]
        }
      },
      "id": "node_log_success",
      "name": "Log SMS Sent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_API_URL }}/automation/send-notification",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "sms_failure" },
            {
              "name": "executionId",
              "value": "={{ $node[\"Set Execution ID\"].json.executionId }}"
            },
            { "name": "error", "value": "={{ $json.errorMessage || $json.error?.message || 'Unknown SMS failure' }}" },
            { "name": "entityType", "value": "notification" },
            { "name": "entityId", "value": "={{ $node[\"Set Execution ID\"].json.entityId }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "node_log_failure",
      "name": "Log SMS Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1780, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "backend_api_key",
          "name": "Backend API Key"
        }
      }
    }
  ],
  "connections": {
    "Receive SMS Request": {
      "main": [[{ "node": "Auth Check", "type": "main", "index": 0 }]]
    },
    "Auth Check": {
      "main": [
        [{ "node": "Validate Payload", "type": "main", "index": 0 }],
        [{ "node": "Return 401", "type": "main", "index": 0 }]
      ]
    },
    "Validate Payload": {
      "main": [
        [{ "node": "Respond 200 Immediately", "type": "main", "index": 0 }],
        [{ "node": "Return 400", "type": "main", "index": 0 }]
      ]
    },
    "Respond 200 Immediately": {
      "main": [[{ "node": "Set Execution ID", "type": "main", "index": 0 }]]
    },
    "Set Execution ID": {
      "main": [[{ "node": "Send SMS via Twilio", "type": "main", "index": 0 }]]
    },
    "Send SMS via Twilio": {
      "main": [[{ "node": "SMS Sent?", "type": "main", "index": 0 }]]
    },
    "SMS Sent?": {
      "main": [
        [{ "node": "Log SMS Sent", "type": "main", "index": 0 }],
        [{ "node": "Log SMS Failure", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
