backend/n8n/workflow_3_missed_call_recovery.json
{
  "name": "Workflow 3 — Missed Call Recovery (Twilio)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "missed-call",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node_webhook_trigger",
      "name": "Missed Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $json.phone || $json.body?.phone }}",
              "type": "string"
            },
            {
              "id": "clinicId",
              "name": "clinicId",
              "value": "={{ $json.clinicId || $json.body?.clinicId }}",
              "type": "string"
            },
            {
              "id": "mc-id",
              "name": "missedCallId",
              "value": "={{ $json.missedCallId || $json.body?.missedCallId }}",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "={{ $json.name || $json.body?.name || '' }}",
              "type": "string"
            },
            {
              "id": "smsBody",
              "name": "smsBody",
              "value": "={{ $json.smsBody || $json.body?.smsBody || 'Γεια! Χάσαμε την κλήση σας. Κλείστε ραντεβού εδώ: [link]' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node_set_vars",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ $buffer($env.TWILIO_ACCOUNT_SID + ':' + $env.TWILIO_AUTH_TOKEN).toString('base64') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "form",
        "bodyParameters": {
          "formBodyParameters": {
            "parameters": [
              {
                "name": "From",
                "value": "={{ $env.TWILIO_ALPHA_SENDER_ID || $env.TWILIO_PHONE_NUMBER }}"
              },
              {
                "name": "To",
                "value": "={{ $json.phone }}"
              },
              {
                "name": "Body",
                "value": "={{ $json.smsBody }}"
              }
            ]
          }
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_send_sms",
      "name": "Send Recovery SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-sid",
              "leftValue": "={{ $json.sid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node_sms_ok",
      "name": "SMS Sent OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result",
              "name": "result",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "msg-id",
              "name": "messageId",
              "value": "={{ $json.sid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node_log_success",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result",
              "name": "result",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.message || $json.errorMessage || 'SMS send failed' }}",
              "type": "string"
            },
            {
              "id": "code",
              "name": "errorCode",
              "value": "={{ $json.status || $json.code || 'error' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node_log_failure",
      "name": "Log Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_API_URL }}/automation/mark-recovered",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.AUTOMATION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clinicId\": \"{{ $('Set Variables').first().json.clinicId }}\",\n  \"missedCallId\": \"{{ $('Set Variables').first().json.missedCallId }}\",\n  \"smsStatus\": \"sent\",\n  \"messageId\": \"{{ $json.messageId }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_mark_recovered",
      "name": "Mark SMS Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_API_URL }}/automation/send-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.AUTOMATION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"sms_failed\",\n  \"executionId\": \"{{ $('Set Variables').first().json.missedCallId }}\",\n  \"entityType\": \"missed_call\",\n  \"entityId\": \"{{ $('Set Variables').first().json.missedCallId }}\",\n  \"phone\": \"{{ $('Set Variables').first().json.phone }}\",\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_notify_backend_failure",
      "name": "Notify Backend of Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400],
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Missed Call Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Send Recovery SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Recovery SMS": {
      "main": [
        [
          {
            "node": "SMS Sent OK?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Sent OK?": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Mark SMS Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Failure": {
      "main": [
        [
          {
            "node": "Notify Backend of Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "workflow_0_global_error_handler"
  }
}
