backend/n8n/workflow_1_appointment_confirmation.json
{
  "name": "Workflow 1 — Appointment Confirmation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-confirmation",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node_webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "appointment-confirmation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "twilio-sid",
              "name": "TWILIO_ACCOUNT_SID",
              "value": "YOUR_TWILIO_ACCOUNT_SID",
              "type": "string"
            },
            {
              "id": "twilio-token",
              "name": "TWILIO_AUTH_TOKEN",
              "value": "YOUR_TWILIO_AUTH_TOKEN",
              "type": "string"
            },
            {
              "id": "twilio-sender",
              "name": "TWILIO_SENDER",
              "value": "YOUR_TWILIO_SENDER",
              "type": "string"
            },
            {
              "id": "backend-url",
              "name": "BACKEND_API_URL",
              "value": "YOUR_BACKEND_API_URL",
              "type": "string"
            },
            {
              "id": "api-key",
              "name": "AUTOMATION_API_KEY",
              "value": "YOUR_AUTOMATION_API_KEY",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node_set_creds",
      "name": "Set Credentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Credentials').first().json.BACKEND_API_URL }}/automation/verify-appointment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-clinicflow-secret",
              "value": "={{ $('Set Credentials').first().json.AUTOMATION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"appointmentId\": \"{{ $json.appointmentId }}\",\n  \"patientPhone\": \"{{ $json.phone }}\",\n  \"clinicId\": \"{{ $json.clinicId }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_verify_appointment",
      "name": "Verify Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node_is_valid",
      "name": "Appointment Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $('Set Credentials').first().json.TWILIO_ACCOUNT_SID }}/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ $base64($('Set Credentials').first().json.TWILIO_ACCOUNT_SID + ':' + $('Set Credentials').first().json.TWILIO_AUTH_TOKEN) }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "form",
        "formBodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $('Set Credentials').first().json.TWILIO_SENDER }}"
            },
            {
              "name": "To",
              "value": "={{ $('Webhook Trigger').first().json.phone }}"
            },
            {
              "name": "Body",
              "value": "=Το ραντεβού σας επιβεβαιώθηκε για τις {{ $json.appointmentDate }} στο {{ $json.clinicName }}."
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_send_sms",
      "name": "Send Confirmation SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Credentials').first().json.BACKEND_API_URL }}/automation/log-sms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-clinicflow-secret",
              "value": "={{ $('Set Credentials').first().json.AUTOMATION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"appointmentId\": \"{{ $('Webhook Trigger').first().json.appointmentId }}\",\n  \"patientPhone\": \"{{ $('Webhook Trigger').first().json.phone }}\",\n  \"clinicId\": \"{{ $('Webhook Trigger').first().json.clinicId }}\",\n  \"sid\": \"{{ $json.sid }}\",\n  \"status\": \"{{ $json.status }}\",\n  \"type\": \"confirmation\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_log_sms",
      "name": "Log SMS to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Credentials').first().json.BACKEND_API_URL }}/automation/log-error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-clinicflow-secret",
              "value": "={{ $('Set Credentials').first().json.AUTOMATION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"invalid_appointment\",\n  \"appointmentId\": \"{{ $json.appointmentId }}\",\n  \"error\": \"{{ $json.error || 'Appointment verification failed' }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node_log_error",
      "name": "Log Invalid Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 420]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Verify Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Appointment": {
      "main": [
        [
          {
            "node": "Appointment Valid?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointment Valid?": {
      "main": [
        [
          {
            "node": "Send Confirmation SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation SMS": {
      "main": [
        [
          {
            "node": "Log SMS to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
