backend/n8n/workflow_0_global_error_handler.json
{
  "name": "Workflow 0 — Global Error Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "node_error_trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "workflow",
              "value": "={{ $json.workflow.name }}"
            },
            {
              "name": "error",
              "value": "={{ $json.error.message }}"
            },
            {
              "name": "executionId",
              "value": "={{ $json.execution.id || 'unknown' }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "node_extract_error",
      "name": "Extract Error Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_API_URL }}/automation/log-error",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "workflow_error" },
            { "name": "workflow", "value": "={{ $json.workflow }}" },
            { "name": "error", "value": "={{ $json.error }}" },
            { "name": "executionId", "value": "={{ $json.executionId }}" },
            { "name": "timestamp", "value": "={{ $json.timestamp }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "node_log_error",
      "name": "Log Workflow Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            { "value1": "={{ $response.statusCode }}", "operation": "exists" }
          ]
        }
      },
      "id": "node_check_success",
      "name": "Backend Reached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "fallbackLog", "value": "=Error logged to backend: {{ $node[\"Extract Error Details\"].json.workflow }} - {{ $node[\"Extract Error Details\"].json.error }}" }
          ]
        }
      },
      "id": "node_log_success",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "fallbackLog", "value": "=FALLBACK: Error logged to console - workflow: {{ $node[\"Extract Error Details\"].json.workflow }}, error: {{ $node[\"Extract Error Details\"].json.error }}, executionId: {{ $node[\"Extract Error Details\"].json.executionId }}" }
          ]
        }
      },
      "id": "node_fallback_log",
      "name": "Fallback to Console",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "log", "value": "={{ $json.fallbackLog }}" }
          ]
        },
        "options": {}
      },
      "id": "node_console_log",
      "name": "Console Log",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 420]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Extract Error Details", "type": "main", "index": 0 }]]
    },
    "Extract Error Details": {
      "main": [[{ "node": "Log Workflow Error", "type": "main", "index": 0 }]]
    },
    "Log Workflow Error": {
      "main": [[{ "node": "Backend Reached?", "type": "main", "index": 0 }]]
    },
    "Backend Reached?": {
      "main": [
        [{ "node": "Log Success", "type": "main", "index": 0 }],
        [{ "node": "Fallback to Console", "type": "main", "index": 0 }]
      ]
    },
    "Fallback to Console": {
      "main": [[{ "node": "Console Log", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  }
}